/**
 * 极细线
 */
.n-line {
    border: 1px solid $separator-color;
    &--top {
        border-top: 1px solid $separator-color;
    }
    &--right {
        border-right: 1px solid $separator-color;
    }
    &--bottom {
        border-bottom: 1px solid $separator-color;
    }
    &--left {
        border-left: 1px solid $separator-color;
    }
}

/**
 * 暗色
 */
.body--dark {
    .n-line {
        border-color: $separator-dark-color;
        &--top {
            border-top-color: $separator-dark-color;
        }
        &--right {
            border-right-color: $separator-dark-color;
        }
        &--bottom {
            border-bottom-color: $separator-dark-color;
        }
        &--left {
            border-left-color: $separator-dark-color;
        }
    }
}
