/**
 * 头部
 */

/**
 * 亮色
 */
.body--light {
    .n-toolbar {
        color: $grey-8 !important;
        background: $grey-2 !important;
    }
}

/**
 * 暗色
 */
.body--dark {
    .n-toolbar {
        background: var(--q-dark) !important;
    }
}
